Flask-REST_S5/__pycache__/
Flask-REST_S5/code/__pycache__/
Flask-REST_S5/code/data.db
Flask-REST_S5/venv
Flask-REST/__pycache__/
Flask-REST_S6/venv
Flask-REST_S6/.vscode/launch.json
Flask-REST_S6/code/data.db
**/__pycache__/
